body{
    font-family: sans-serif;
    font-size:10pt;
    background-color: #333;
}
#title{
    font-family: 'Trebuchet MS';
}
#title > a {
    text-decoration: none;
    color: #fff;
}
.container{
    max-width:95%;
    margin: 2em auto;
    min-width:95ch;
    background-color: #fff;
    border-radius: 2em 2em 2em 2em;
    padding-bottom:5em;
}
#title{
    text-align: center;
    color: white;
	text-shadow: 3px 2px 2px black;	
    font-size:3em;
    font-weight: bold;
}

#crop-bg{
    height:150px;
    overflow:hidden;
    border-radius: 2em 2em 0em 0em;
}
#bg-img{
    width:100%;
    min-width:50ch;
}

.background{
    position: relative;
    top: 0;
    left: 0;
    background-color:#333;
    opacity:0.8;
}
.overlay{
    position:relative;
    top:-7em;
    z-index:9;
}
.content{
    margin:-3em 5em;
    font-size:1.6em;
}
#profile-pic{
    display: block; 
    border-radius: 50%;
    width: 7em;
    float:right;
    margin:0.5em 0em 0.5 1em;
}
/* Style the footer */
footer {
  background-color: rgb(80, 168, 127);
  padding: 3px;
  text-align: center;
  color: white;
}
.column {
                float: left;
                padding-left: 8px;
                padding-top: 5px;
            }

.row::after {
    content: "";
    clear: both;
    display: table;
}

#game{
    margin:2em 0em;
    list-style-type: circle;
    font-size:14pt;
}
#gifs{
    object-fit:scale-down;
    display: inline-flex;
    margin-left:0;
    margin-right:0;
}
.gif{
    max-width:33%;
}
li{
    padding-top:0.4em;
}

p::selection {
    background: rgb(93, 190, 131);
}
li::selection {
    background: rgb(93, 190, 131);
}
#nav-text{
    padding-top:10px;
}
#nav-text > a{
    color: white;
	text-shadow: 1px 1px 1px #000;
    font-size: 1.5em;
    text-align: center;
    text-decoration: none;
}
#nav-text > a:hover{
    text-decoration:underline;
}
.row{
    display:inline-block;
    padding: 4.5px 5px;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 0em 2em 0em 0em;
}
.column{
    padding-right: 5px;
}
.brief{
    font-size:0.7em;
}
h4 > a{
    text-decoration: none;
}
h1{
    font-size:1.5em;
}
h2{
    font-size:1.2em;
}
p.notes{
    font-size:0.8em;
    text-align: justify;
}
span.math{
    font-family:'Cambria Math', 'Times New Roman', serif;
    font-size:1em;
}
p.math{
    text-align: center;
    font-family:'Cambria Math', 'Times New Roman', serif;
    font-size:0.8em;
}
.figure{
    font-size:0.7em;
    text-align: center;
}