body{
    font-family: sans-serif;
    font-size:10pt;
    background-color: #333;
}
h3{
    margin-bottom: 0.3em;
    margin-bottom: 0.3em;
}
#title{
    font-family: 'Trebuchet MS';
}
#title > a {
    text-decoration: none;
    color: #fff;
}
.container{
    max-width:95%;
    margin: 2em auto;
    min-width:95ch;
    background-color: #fff;
    border-radius: 2em 2em 2em 2em;
    padding-bottom:5em;
}
#title{
    text-align: center;
    color: white;
	text-shadow: 3px 2px 2px black;	
    font-size:3em;
    font-weight: bold;
}

#crop-bg{
    height:150px;
    overflow:hidden;
    border-radius: 2em 2em 0em 0em;
}
#bg-img{
    width:100%;
    min-width:50ch;
}

.background{
    position: relative;
    top: 0;
    left: 0;
    background-color:#333;
    opacity:0.8;
}
.overlay{
    position:relative;
    top:-7em;
    z-index:9;
}
.content{
    padding-top:2em;
    margin:-3em 4em;
    font-size:1.6em;
}
#profile-pic{
    display: block; 
    border-radius: 50%;
    width: 7em;
    float:right;
    margin:0.5em 0em 0.5 1em;
}
/* Style the footer */
footer {
  background-color: rgb(80, 168, 127);
  padding: 3px;
  text-align: center;
  color: white;
}
.column {
    float: left;
    padding-left: 8px;
    padding-right: 5px;
    padding-top: 5px;
}
#game{
    margin:2em 0em;
    list-style-type: circle;
    font-size:14pt;
}
#gifs{
    object-fit:scale-down;
    display: inline-flex;
    margin-left:0;
    margin-right:0;
}
.gif{
    max-width:33%;
}
li{
    padding-top:0.4em;
}

#nav-text{
    padding-top:10px;
}
#nav-text > a{
    color: white;
	text-shadow: 1px 1px 1px #000;
    font-size: 1.5em;
    text-align: center;
    text-decoration: none;
}
#nav-text > a:hover{
    text-decoration:underline;
}
.row{
    display:inline-block;
    padding: 4.5px 5px;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 0em 2em 0em 0em;
    position:absolute;
    bottom:0;
    left:0;
}
.brief{
    font-size:0.7em;
}
h4{
    margin-bottom:0.2em;
}
h4 > a{
    text-decoration: none;
}
h1{
    font-size:1.5em;
}
h2{
    font-size:1.2em;
}
p.notes{
    font-size:0.8em;
    text-align: justify;
}
span.math{
    font-family:'Cambria Math', 'Times New Roman', serif;
    font-size:1em;
}
p.subtitle{
    font-size:0.7em;
    text-align: center;
}
p.math{
    text-align: center;
    font-family:'Cambria Math', 'Times New Roman', serif;
    font-size:0.8em;
    /* background: #f5f5f5;
    margin:1em auto;
    border-radius: 0.4em;
    padding:1em 2em;
    width:fit-content; */
}
.figure{
    font-size:0.7em;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.brief:last-of-type{
    padding-bottom:3em;
}
.notes:last-of-type{
    padding-bottom:2em;
}

#reload-page-btn{
    display: block;
    width:fit-content;
    margin: 0px auto;
  }


  .slider {
    margin: 2em;
    -webkit-appearance: none;
    width: 200px;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .slider:hover {
    opacity: 1;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #04AA6D;
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #04AA6D;
    cursor: pointer;
  }

.parameter{
    text-align: center;
    margin-top:0.5em;
    max-width:90%;
    width:fit-content;
    padding-left: 1em;
    display:inline-block;
    background-color: rgb(248, 252, 248);
    border-radius: 1em;
}
input{
    margin-right: 0px;
}
object{
    margin-right: 1em;
    width: 20px;
}

.parameter:hover{
    background-color: rgb(235, 252, 235);
}

.tooltip {
    position: relative;
    display: inline-block;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 10em;
    background-color: #33c28e;
    color: #fff;
    text-align: center;
    border-radius: 8px;
    padding: 5px 1em;
    font-size:0.7em;
     
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: -3px;
    left: 25px;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }

  button{
    display:block;
    margin:auto;
    margin-top:0.5em;
    padding:0.2em 1.3em;
    border: 1px solid #8d8d8d63;
    border-radius: 10px;
    font-size:.9em;
  }
  button:hover{
    cursor: pointer;
    background-color: rgb(235, 252, 235);
    transition: .05s;
  }
  #chart{
    left:-2.5%;
  }