h1 {
    font-family: 'Trebuchet MS', sans-serif; 
    font-size:26px;
    text-align: center;
    color: rgb(0, 0, 0);
    /* text-shadow: 2px 1px 1px rgb(155, 184, 171)	 */
}
h2 {
    font-family: 'Trebuchet MS', sans-serif; 
    font-size:12px;
    text-align: center;
    color: rgb(0, 0, 0);
    /* text-shadow: 2px 1px 1px rgb(155, 184, 171)	 */
}
body {
    font-family: 'Tahoma', sans-serif; 
    font-size:15px;
    color: rgb(0, 0, 0);
    padding: 10px 10px;
}

/* hr:after {
    background: #fff;
    content: '§';
    background:url('/assets/dna.svg'); 
    padding: 0 4px;
    position: relative;
    top: -13px;
}  */